/* Style the form */
#regForm {
  width: 70%;
  min-width: 300px;
}

#form-container {
  height: 85vh;
  content: center;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}


/* Begin ratings tutorial css */
table {
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #d4d4d4;
  font-size: 20px;
  background: #fff;
}
 
table th, 
table tr:nth-child(2n+2) {
  background: #e7e7e7;
}
  
table th, 
table td {
  padding: 20px 50px;
}
  
table th {
  border-bottom: 1px solid #d4d4d4;
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}
 
.stars-outer::before {
  content: "\f006";
}
 
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  visibility: hidden;
}
 
.stars-inner::before {
  content: "\f005";
  color: #f8ce0b;
}

/* End ratings tutorial css */