* {
  box-sizing: border-box;
}

.bg-midnight {
  background-color: #1b2126;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Comfortaa', cursive;
}

.footer {
  height: 50vh;
}

.head-logo {
  /* font-size: 96px; */
  font-size: 72px;
}

.snap-row {
  scroll-snap-type: x mandatory;
  scroll-padding: auto;
  overflow-x: scroll;
  display: flex;
}

.snap-child {
  scroll-snap-align: center;
  width: 569px;
  min-width: 60vw;
  margin: 1rem 1rem 1rem 1rem;
  position: relative;
}

.snap-child-padding {
  visibility: hidden;
  min-width: 75vw;
}

.snap-child-right {
  width: 40vw;
  height: 100%;
  background-color: aliceblue;
}

.snap-child-active {
  min-width: 75vw;
  box-shadow: 0 0 16px 2px rgba(0, 242, 242, .6);
}

.text-accent {
  color: #00f2f2;
}
